:root {

    /* Light Colours */
    --babyblue: #00A9FF;
    --grayblue: #89CFF3;
    --lightblue: #A0E9FF;
    --lightestblue: #CDF5FD;
    /* Dark Colours */
    --deeppurple: #1A1A40;
    --violet: #270082;
    --purple: #7A0BC0;
    --pink: #FA58B6;

}